@import "tailwindcss";

/* Scan templates folder */
@source "../../templates/**/*.html";

/* Custom colors */
@theme {
    --color-hazard: #FFD600;
    --color-dark: #2D2D2D;
    --color-light: #F5F5F5;
}
